<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<header th:replace="fragments :: header"></header>
<form method="post" th:action="@{/teachers/newTeacherForm}">
    <div class="container">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">First Name</label>
            <div class="col-xs-4">
                <input th:field="${teacher.personalDetails.firstName}" class="form-control">
            </div>
            <p class="text-danger" th:errors="${teacher.personalDetails.firstName}"></p>
        </div>
        <div class="form-group row center-block">
            <label class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-xs-4">
                <input th:field="${teacher.personalDetails.lastName}" class="form-control">
            </div>
            <p class="text-danger" th:errors="${teacher.personalDetails.lastName}"></p>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Phone Number</label>
            <div class="col-xs-4">
                <input th:field="${teacher.personalDetails.phoneNumber}" class="form-control">
            </div>
            <p class="text-danger" th:errors="${teacher.personalDetails.phoneNumber}"></p>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">E-Mail</label>
            <div class="col-xs-4">
                <input th:field="${teacher.personalDetails.email}" class="form-control">
            </div>
            <p class="text-danger" th:errors="${teacher.personalDetails.email}"></p>
        </div>
        <div class="form-group row">
            <label th:for="gender" class="col-sm-2 col-form-label">Gender</label>
            <div class="col-xs-4">
                <select class="form-control" th:field="${teacher.gender}">
                    <option value="">Please select ...</option>
                    <option th:each="gender : ${genders}"
                            th:value="${gender}"
                            th:text="${gender.displayName}"
                    ></option>
                </select>
            </div>
            <p class="text-danger" th:errors="${teacher.gender}"></p>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Date Of Birth</label>
            <div class="col-xs-4">
                <input type="date" class="form-control" th:field="${teacher.personalDetails.dateOfBirth}"/>
            </div>
            <p class="text-danger" th:errors="${teacher.personalDetails.dateOfBirth}"></p>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Classes To Teach</label>
            <div class="col-xs-4">
                <select class="form-control" th:field="${teacher.classes}">
                    <option value="">Please select ...</option>
                    <option th:each="classes : ${classesToTeach}"
                            th:value="${classes.id}"
                            th:text="${classes.className}">
                    </option>
                </select>
            </div>
            <p class="text-danger" th:errors="${teacher.classes}"></p>
        </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <input type="submit" value="Add Teacher" class="btn btn-success">

            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <a class="btn btn-info" href="/teachers">Cancel</a>
            </div>
        </div>
    </div>
</form>
</body>
</html>